@keyframes anim-div2 {
  0% {
    transform: scale(0.5);
  } 
  100% {
    transform: scale(1);
  }
}
.d2 {
  animation-name: anim-div2;
  animation-duration: 0.6s;
}
@keyframes anim-div3 {
  0% {
    transform: translateY(100%);
  } 
  100% {
    transform: translateY(0);
  }
}
.d3 {
  animation-name: anim-div3;
  animation-duration: 0.7s;
}
